---
title: Maya Graphics
---

<div class="hero page-hero">
	<div class="inner">
		<div class="title">
			<div class="image"><%= image_tag "logoW.png" %></div>
			<h1 class="subheading medium">Coos Bay's comprehensive graphics and design company. Specializing in print, sign, and vinyl graphics.</h1>
			<div id="social-links">
				<a href="http://www.facebook.com/sharer.php?u=http://www.mayagfx.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
				<a href="http://twitter.com/share?url=http://www.mayagfx.com&hashtags=CoosBay" target="_blank"><i class="fa fa-twitter-square"></i></a>
				<a href="https://plus.google.com/share?url=http://www.mayagfx.com" target="_blank"><i class="fa fa-google-plus-square"></i></a>
			</div>
		</div>
	</div>
</div>

<div id="lead-feature" class="feature">
	<h1 class="subheading minor">Maya Graphics is a full service printing and graphic design Company in Coos Bay.  We specialize in quality, cost effective printing and design graphics.  With 20 years of experience, no project is too hard!</h1>
</div>

<div class="wrap dark">
	<div class="grid boxes">
		<div class="cell half">
				<h1 class="heading medium">Digital Printing</h1>
				<p>Specializing in the latest innovations with Digital Printing,
Maya Graphics brings you state-of-the-art, quality digital copy and printing services.  Our technology is cutting-edge,  ensuring that we are able to finish your project in a timely manner with the finest quality printing available.  Many options are available, including business cards, personalized envelopes, and much, much, more… </p>
		</div>
		<div class="cell half graphic"><div class="image"><%= image_tag "pages.png" %></div></div>
	</div>
</div>

<div class="wrap">
	<div class="grid boxes">
		<div class="cell half graphic"><div class="image"><%= image_tag "sign.png" %></div></div>
		<div class="cell half">
				<h1 class="heading medium">Banners and Signs</h1>
				<p>Our company offers an array of signage options; including business boosting vinyl and cost-effective paper banners perfect for that event you’ve been planning.  Have a budget? Talk to us; we’ll work with you!
Our innovative and cutting-edge technology allows us the freedom to create your sign on a large variety of materials, including plastic, paper, magnetic vinyl, and aluminum.  Maya Graphics’ specialty is pride in a job done right, and our unique, in-house process results in fast, high quality, yet affordable printing for our clients.   We personally invite you to come and see what we can do for you and your printing needs!</p>
		</div>
	</div>
</div>

<div class="wrap dark">
	<div class="grid boxes">
		<div class="cell half">
				<h1 class="heading medium">Graphics & Design</h1>
				<p>Maya Graphics is a meet-your-needs company. We focus our energy and creativity on working with our clients to provide custom-tailored graphics with cutting-edge designs that will not only be impressive, but will completely satisfy your business or personal needs, while still reflecting the latest Graphic Design concepts and market trends.  We have a wide array of options, including vehicle graphics, boat graphics, and more.  Come and consult one of our team members today for solutions to any Graphics needs and ideas you have.</p>
		</div>
		<div class="cell half graphic"><div class="image"><%= image_tag "type.png" %></div></div>
	</div>
</div>

<div class="feature">
	<h1 class="heading minor">Innovative Design + Our Craftsmanship + Cutting-Edge Technology = Your Perfect Solution</h1>
	<p>Our team of Graphics Professionals has years of experience and can custom print a graphics solution for any job you have.  We pride ourselves on using our experience to portray your unique business that will have both satisfactory and lasting results.  We stand by our work, and once you experience working with us, you will too! </p>
</div>

<div id="footer">
	<div class="grid">

		<div class="cell third">
			<h1 class="heading minor">Hours</h1>
			<ul>
				<li>Monday: 9am - 5pm</li>
				<li>Tuesday: 9am - 5pm</li>
				<li>Wednesday: 9am - 5pm</li>
				<li>Thursday: 9am - 5pm</li>
				<li>Friday: 9am - 5pm</li>
				<li>Weekend: By Appointment</li>
			</ul>
		</div>

		<div class="cell third">
			<h1 class="heading minor">Drop us a line</h1>
			<p>(541) 269-9280</p>
			<p><%= mail_to "info@maya-graphics.com" %></p>
			<h1 class="heading minor">Address</h1>
			<p>973 S 1st St</p><p>Coos Bay, OR 97420</p>
		</div>

	</div>
</div>
